/vendor
node_modules/
**/node_modules/
dist/
**/dist/
.next/
**/.next/
/.env
.env
.env.*
**/.env
**/.env.*
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
