PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/siakad?schema=public"
JWT_ACCESS_SECRET="siakad-dev-access-secret-change-me"
JWT_REFRESH_SECRET="siakad-dev-refresh-secret-change-me"
